body{
    font-family: font-family: 'Merriweather', serif;;
}
.first-header-border{
    border-left: 5px solid rgb(255, 115, 91);
    
}
h1{
    font-size: 60px;
    font-weight: 350px;
}
.orange{
    color: rgb(233, 176, 70);
}
#size{
    font-size: 20px;
    font-weight: 700px;
}
.half-width{
    display: flex;
}
.container-of-text{
    width:100%;
    padding-left: 30px;
    padding-bottom: 8px;
}
div img{
    width:70%;
}
